<div class="container-fluid" id="pic" >
  <div class="box">	
    <h1>Staff login</h1>
    <input type="text" placeholder="Username.." id="pass"> <br><br>
    <input type="password" placeholder="password.." id="pass"><br><br>
    <input type="submit" value="Sign-In"  id="sub">
  </div>
</div>