<div class="container-fluid" id="pic" >
  <div class="box" align="center">
    <h1>Staff login</h1>
    <input type="text" placeholder="Username.." id="pass"> <br><br>
    <input type="text" placeholder="Password.." id="pass"><br><br>
    <button class="nextButton" type="button" name="Next">Sign-In</button>
  </div>
</div>
