body,html {
  background-color: #303030;
    height: 100%;
    margin: 0;
}

#header {
	margin-top: 30px;
}

#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}

/*ANIK STYLE BEGIN*/
h1{
  color: white;
}
#use{
	height: 35px;
	width: 350px;
	margin: 0 auto;
	border-radius: 10px;
	border :0;
	padding-left:10px;
	border-bottom: 2px solid #b02428;
	color: white;
	background: transparent;
}


#sub{
	height: 35px;
	width: 200px;
	padding-left: 10px;
	align-self: center;
	color:white;
	font-weight: bolder;
    margin-left: 80px;
	/*border-radius: 10px;
	//border-bottom: 2px solid #b02428;*/
	background-color:#a31014;

}

#menu{
  width:100%;
  height:50px;
  background-color: black;
}
#menu ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    background-color: black;
}
#menu a{
    display: block;
    padding: 10px;
    width:100px;
    color :#8b8e8f;
    background-color: black;
    text-decoration: none;
    text-align: center;
}
#menu a:hover{
  background-color: #666666;

}
#menu li{
  float: right;
  font-family: 'Roboto', sans-serif;
  font-size:20px;

}
#menu img{
  float: left;
}

.box{
	height: 300px;
	max-width : 400px;
  color: #b12428;
	margin : 0 auto;
	margin-top: 200px;
	background-color: rgba(0,0,0,0.5);
	border-radius: 15px;
	border: 1px white solid;
}



#pic{
  background-image: url("../images/Quad_ClockTower_Students.jpg");
  height: 800px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*ANIK STYLE END*/

/*TING STYLE START*/
.navbar{
  margin-bottom:0 !important;
}
#frontTitle{
  margin: 0 !important;
   text-align: center;
   color: white !important;
   padding-top: 20%!important;
   font-size: 60px;
}
.homeImg {
    background-image: url('../images/Quad_ClockTower_Students.jpg');
    width: 100%;
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.finalpage {
  position: absolute;
  left: 0;
  top: 30%;
  width: 100%;
  text-align: center;
  font-size: 30px;
  color: white;
}

.center {
  /*background-image: url("Quad_ClockTower_Students.jpg") no-repeat;*/
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 50px;
  color: white;
}

.consent {
  margin: 0 auto;
  color: white;
  background-color: #303030;

}
.ConsentInfo{
  margin: 0 10%;
  text-align: left;
  color: white;
  background-color: #303030;

}
.txtConsent {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

input[type=text] {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #b02428;
  background-color: transparent;
  color: white;
}

.button {
  border-radius: 5px;
  border: none;
  color: white;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px;
  cursor: pointer;
  background-color: #525252;
}

.stateCountryZipcode {
  width: 70%;
}

.nextButton {
  width: 70%;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px;
  cursor: pointer;
  background-color: #b02428;
}

[type="radio"]:checked, [type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

[type="radio"]:checked+label, [type="radio"]:not(:checked)+label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}

[type="radio"]:checked+label:before, [type="radio"]:not(:checked)+label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}

[type="radio"]:checked+label:after, [type="radio"]:not(:checked)+label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #b02428;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
@media only screen and (max-width: 450px) {
  #frontTitle {
  margin: 0 !important;
  text-align: center;
  color: white !important;
  padding-top: 40% !important;
  font-size: 30px;
  }
  .box{
  	height: 300px;
    min-width: 100%;
    color: #b12428;
  	margin : 0 auto;
  	margin-top: 200px;
  	background-color: rgba(0,0,0,0.5);
  	border-radius: 15px;
  	border: 1px white solid;
  }
}
/*TING STYLE END*/
